.counter-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.counter-form-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2rem;
}